Sources/XmlModel/Schema/VtInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Max (Parallels) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by rth77 (rth77) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="VtInfo">
		<xs:complexType>
			<xs:element name="QemuKvm">
				<xs:complexType>
					<xs:element name="VCpuInfo">
						<xs:annotation>
							<xs:documentation>class=CVCpuInfo;single_fixed=on;</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MaxVCpu" type="xs:integer" default="0"/>
								<xs:element name="DefaultPeriod" type="xs:integer" default="100000"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:complexType>
			</xs:element>
		</xs:complexType>
	</xs:element>
</xs:schema>
